*skills{
    overflow:hidden;
    width:100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 3rem auto;
}
.skillTitle{
    font-size:3rem;
    font-weight: 600;
    padding: 30rem;
    margin-bottom: 10rem;

}
.skillDesc{
    font-weight: 400;
    font-size: 0.9rem;
    max-width: 51rem;
    padding: 0.9rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 65rem;
    padding: 0 2rem;
}
.skillBars{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem 2rem;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    padding: 0 2rem;
}
.skillBar{
    display:flex;
    margin: 1 rem;
    padding: 1.5 rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
}
.skillBarImg{
    object-fit: cover;
    height: 10rem;
    width: 10rem;
    margin-right: 5rem;
    margin: 1rem 1rem;
}
.skillBarText>p{
    font-size: 1rem;
    font-weight: 200;
}