#contactPage{
    min-height: calc(100-4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contactPageTitle{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.contactDesc{
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
}
.contactForm{
    margin: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}
.name,.email,.msg{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40,40, 40);
}
.submitBtn{
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
    padding: 1rem 3.5rem;
}
.links{
    flex-wrap: wrap;
    padding: 1rem;
    object-fit: cover;
    height: 1rem;
    margin: 0 0.75rem;
}