#intro{
    height: calc(100vw - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
}
.bg{
    position: absolute;
    padding-top: 5;
    top: 0 rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
    margin-bottom: 2px;
    margin-top: -500px;
    margin-left: 1000px;
}

.introContent{
    
    width: 90vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hello{
    font-size: 1.75rem;
    font-weight: 100;
    letter-spacing: 1px;
}
.introName 
{
    color: yellow;
    margin-left: 30;

}
.introPara{
    font-size: medium;
    font-weight: 600;
}
.btn{
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 2rem;
}
